In [3]:
import pandas as pd
from numpy.random import randn
import numpy as np

In [3]:
# This will try to generate a table focus on one Line (such as 39A)
res = pd.read_csv("MAY_RES.csv")

In [4]:
#one = res[(res['LineId']=='39A')]

In [5]:
#one.to_csv("LeaveTimes_MAY_39A.csv")

In [ ]:
def my_test3(d, a):
    #return str(a//3600).zfill(2) + ":" + str(a%3600//60).zfill(2)+ ":" + str(a%3600%60).zfill(2)
    return  d + " " + str(a//3600).zfill(2) + ":" + str(0).zfill(2) + ":" + str(0).zfill(2)
    #return a/3600
res['dayInterval'] = res.apply(lambda row: my_test3(row['DayOfService'],row['PlannedTime_Arr']), axis=1)

In [1]:
weather_df = pd.read_csv("Weather.csv")

NameError: name 'pd' is not defined

In [7]:
w_df = weather_df[(weather_df['StationName'] == 'Casement')]

In [8]:
#new_res = pd.merge(res, weather_df, on = ['TripId', 'DayOfService'])
new_res = res.merge(w_df, left_on='dayInterval', right_on='Date')

In [9]:
new_res.head()

,Unnamed: 0,TripId,DayOfService,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep,VehicleId,LineId,RouteId,Direction,dayInterval
0,0,5013461,2017-05-29,32,357,40811,40811,40693,40693,1001130,1,1_37,1,2017-05-29 11:00:00
1,1,5013461,2017-05-29,33,390,40859,40859,40722,40732,1001130,1,1_37,1,2017-05-29 11:00:00
2,2,5013461,2017-05-29,34,372,40904,40904,40776,40776,1001130,1,1_37,1,2017-05-29 11:00:00
3,3,5013461,2017-05-29,35,373,40941,40941,40799,40799,1001130,1,1_37,1,2017-05-29 11:00:00
4,4,5013461,2017-05-29,36,374,40974,40974,40822,40849,1001130,1,1_37,1,2017-05-29 11:00:00

In [4]:
new_res = pd.read_csv("MAY_WEATHER_RES.csv")

In [ ]:
new_res.d

In [5]:
new_res = new_res.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Unnamed: 0.1.1,TripId,DayOfService,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep,VehicleId,LineId,RouteId,Direction,dayInterval,Date,Rain,Sun,Temp,Wdsp,StationName
0,0,5013461,2017-05-29,32,357,40811,40811,40693,40693,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
1,1,5013461,2017-05-29,33,390,40859,40859,40722,40732,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
2,2,5013461,2017-05-29,34,372,40904,40904,40776,40776,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
3,3,5013461,2017-05-29,35,373,40941,40941,40799,40799,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
4,4,5013461,2017-05-29,36,374,40974,40974,40822,40849,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
5,5,5013461,2017-05-29,37,375,41027,41027,40916,40916,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
6,6,5013461,2017-05-29,38,2804,41107,41107,41041,41050,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
7,7,5013461,2017-05-29,39,376,41141,41141,41069,41069,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
8,15,5013461,2017-05-29,40,377,41168,41168,41091,41105,1001130,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
9,23,5013189,2017-05-29,1,226,40800,40800,41023,41023,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
10,24,5013189,2017-05-29,2,228,40848,40848,41057,41057,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
11,25,5013189,2017-05-29,3,229,40888,40888,41080,41090,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
12,26,5013189,2017-05-29,27,352,42855,42855,43764,43781,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
13,27,5013189,2017-05-29,29,354,42972,42972,43938,43992,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
14,28,5013189,2017-05-29,24,340,42501,42501,43450,43539,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
15,29,5013189,2017-05-29,4,227,40953,40953,41129,41174,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
16,31,5013189,2017-05-29,17,47,41661,41661,41972,41972,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
17,32,5013189,2017-05-29,22,265,42138,42138,42503,42658,1000184,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
18,36,5005824,2017-05-29,14,7603,42679,42679,42717,42717,2534840,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
19,41,5005824,2017-05-29,1,226,42000,42000,42042,42042,2534840,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
20,42,5005824,2017-05-29,2,228,42048,42048,42076,42100,2534840,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
21,43,5005824,2017-05-29,9,213,42455,42455,42499,42520,2534840,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
22,44,5005824,2017-05-29,3,229,42088,42088,42126,42141,2534840,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
23,45,5005824,2017-05-29,4,227,42153,42153,42175,42175,2534840,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
24,47,5005824,2017-05-29,12,119,42593,42593,42679,42679,2534840,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
25,479,5009385,2017-05-29,33,390,39659,39659,40086,40100,1932369,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
26,480,5009385,2017-05-29,34,372,39704,39704,40144,40144,1932369,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
27,481,5009385,2017-05-29,40,377,39968,39968,40459,40469,1932369,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
28,482,5009385,2017-05-29,35,373,39741,39741,40169,40169,1932369,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
29,483,5009385,2017-05-29,36,374,39774,39774,40194,40209,1932369,1,1_37,1,2017-05-29 11:00:00,2017-05-29 11:00:00,0.0,0.0,14.2,1,Casement
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4716755,4697540,4870193,2017-05-14,7,3418,27314,27314,27409,27409,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716756,4697541,4870193,2017-05-14,8,3419,27350,27350,27421,27437,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716757,4697542,4870193,2017-05-14,10,4763,27436,27436,27507,27523,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716758,4697543,4870193,2017-05-14,11,6245,27480,27480,27566,27585,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716759,4697544,4870193,2017-05-14,12,2156,27520,27520,27639,27639,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716760,4697545,4870193,2017-05-14,13,6014,27549,27549,27664,27675,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716761,4697546,4870193,2017-05-14,14,6242,27576,27576,27700,27716,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716762,4697547,4870193,2017-05-14,15,6152,27643,27643,27763,27779,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716763,4697548,4870193,2017-05-14,16,6153,27691,27691,27826,27839,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716764,4697549,4870193,2017-05-14,17,6243,27736,27736,27915,27938,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716765,4697550,4870193,2017-05-14,18,6154,27770,27770,27971,27982,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716766,4697551,4870193,2017-05-14,19,6155,27799,27799,28013,28013,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716767,4697552,4870193,2017-05-14,20,6141,27882,27882,28058,28069,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716768,4697553,4870193,2017-05-14,21,6142,27925,27925,28101,28101,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716769,4697554,4870193,2017-05-14,24,2778,27999,27999,28143,28143,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716770,4697555,4870193,2017-05-14,26,7043,28117,28117,28281,28293,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716771,4697556,4870193,2017-05-14,27,1424,28139,28139,28312,28330,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716772,4697557,4870193,2017-05-14,28,2186,28171,28171,28359,28380,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716773,4697558,4870193,2017-05-14,29,2187,28209,28209,28412,28429,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716774,4697559,4870193,2017-05-14,35,4434,28402,28402,28604,28617,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716775,4697560,4870193,2017-05-14,31,2189,28262,28262,28488,28488,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716776,4697561,4870193,2017-05-14,32,1436,28290,28290,28512,28527,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716777,4697562,4870193,2017-05-14,36,2379,28465,28465,28652,28666,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716778,4697563,4870193,2017-05-14,37,2380,28505,28505,28695,28713,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716779,4697564,4870193,2017-05-14,38,2382,28531,28531,28729,28740,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716780,4697565,4870193,2017-05-14,40,2383,28623,28623,28794,28813,2693294,151,151_17,2,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716781,4712465,4878089,2017-05-14,1,4962,28200,28200,28170,28170,2406890,7,7_66,1,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716782,4712466,4878089,2017-05-14,2,4725,28428,28428,28278,28378,2406890,7,7_66,1,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716783,4712467,4878089,2017-05-14,3,273,28564,28564,28523,28646,2406890,7,7_66,1,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement
4716784,4712468,4878089,2017-05-14,4,405,28757,28757,28761,28798,2406890,7,7_66,1,2017-05-14 07:00:00,2017-05-14 07:00:00,0.0,1.0,10.1,11,Casement

In [10]:
new_res.to_csv("MAY_WEATHTER_RES.csv")

In [1]:
#df = pd.read_csv("MAY_WEATHTER_RES.csv")