In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from numpy.random import randn
import numpy as np

In [2]:
sample_df = pd.read_csv("LeaveTimeTrips_JUN_Weather.csv")

In [3]:
#sample_df = sample_df.drop(['Passengers', 'Passengersin','Distance', 'Suppresed','JustificationId','LastUpdate','Note'], axis=1)
days = sample_df.DayOfService.unique()
print(days)

['2017-06-29' '2017-06-28' '2017-06-30' '2017-06-27' '2017-06-06'
 '2017-06-07' '2017-06-08' '2017-06-14' '2017-06-12' '2017-06-16'
 '2017-06-13' '2017-06-26' '2017-06-17' '2017-06-22' '2017-06-19'
 '2017-06-20' '2017-06-21' '2017-06-23' '2017-06-24' '2017-06-09'
 '2017-06-10' '2017-06-05' '2017-06-11' '2017-06-18' '2017-06-01'
 '2017-06-15' '2017-06-02']

In [38]:
oneLine_df = sample_df[(sample_df['LineId']=='46A')]

In [39]:
oneLine_df = oneLine_df.drop_duplicates(subset=None, keep='first', inplace=False)
oneLine_df['StopPointId'].unique()

array([2036,  848, 2039,  814, 2795, 2018,   81,  756, 2019,  817,  757,
       2020,  818,  758, 2021,  819, 2022, 7353, 4571, 2013, 2014, 4636,
       2016, 2015, 2017, 4565, 4566, 4567, 2031, 2032, 2033, 2034, 2035,
        808,  809,  810,  811,  813,  264, 6059,  334,  747,  842,  845,
        846,  759,  760,  761,  763, 2007, 2008, 2009,  435,  807,  812,
        406,  847,  762, 2010, 2040, 2041, 2042, 2043, 2044, 2045, 2046,
       4568, 4569, 7658, 4570, 2056, 2057, 2058, 2059, 2060, 2061, 2062,
       2063, 2064, 2065, 4727, 4728,  461, 2068, 2069, 2070, 2084,  768,
        770,  771,  772,  774,  775,  776,  777,  907,  908,  909,  786,
       7586, 7587,  345,  320,  278,    2,  192,  795,  797,  798,  799,
        800,  802,  803,  804,  769,  773,  906,  792,  805, 7491,  796,
        801,  806,  767, 4962, 7513])

In [31]:
oneDayTrips = oneLine_df[(oneLine_df['DayOfService'] == '2017-06-02') & (oneLine_df['TripId'] == 5003715) & (oneLine_df['VehicleId'] == 1000928)]

In [32]:
#oneDayTrips.dtypes

In [33]:
oneDayTrips[['TripId',
             'ProgrNumber',
             'StopPointId',
             'PlannedTime_Arr',
             'PlannedTime_Dep',
             'ActualTime_Arr',
             'ActualTime_Dep',
             'weekday',
             'rain',
             'temp',
             'wdsp']].head()

,TripId,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep,weekday,rain,temp,wdsp
4001387,5003715,1,767,68400,68400,68471,68471,5.0,0.0,16.0,7.0
4001388,5003715,2,768,68520,68520,68591,68641,5.0,0.0,16.0,7.0
4001389,5003715,3,769,68580,68580,68664,68664,5.0,0.0,16.0,7.0
4001390,5003715,5,771,68656,68656,68729,68729,5.0,0.0,16.0,7.0
4001391,5003715,6,772,68700,68700,68761,68783,5.0,0.0,16.0,7.0

In [34]:
oneLine_df.drop_duplicates(['rain','DayOfService'], 'first', inplace=True)

In [35]:
oneLine_df

,TripId,DataSource,DayOfService,ProgrNumber,StopPointId,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep,VehicleId,...,JustificationId,LastUpdate,Note,LineId,RouteId,Direction,weekday,rain,temp,wdsp
260,5108092,DB,2017-06-28,58,751,42071,42071,44775,44782,1000922,...,NaN,NaN,NaN,39A,39A_43,2,3.0,0.9,12.8,10.0
261,5108092,DB,2017-06-28,26,4747,39484,39484,39865,39957,1000922,...,NaN,NaN,NaN,39A,39A_43,2,3.0,1.0,12.8,11.0
276,5108092,DB,2017-06-29,2,7048,38437,38437,38397,38397,1000603,...,NaN,NaN,NaN,39A,39A_43,2,4.0,0.3,11.9,11.0
300,5108092,DB,2017-06-29,26,4747,39484,39484,39620,39740,1000603,...,NaN,NaN,NaN,39A,39A_43,2,4.0,0.0,12.4,12.0
329,5108094,DB,2017-06-28,58,751,54674,54674,55085,55085,1000922,...,NaN,NaN,NaN,39A,39A_43,2,3.0,0.0,13.1,12.0
347,5108094,DB,2017-06-29,1,7158,51000,51000,50978,50978,1000603,...,NaN,NaN,NaN,39A,39A_43,2,4.0,0.4,11.7,15.0
385,5108094,DB,2017-06-29,45,1715,53441,53441,54002,54002,1000603,...,NaN,NaN,NaN,39A,39A_43,2,4.0,0.9,11.9,16.0
516,5109227,DB,2017-06-29,1,767,46800,46800,46804,46804,1000612,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.1,11.9,14.0
10389,5109230,DB,2017-06-28,58,751,70661,70661,71444,71444,2534819,...,NaN,NaN,NaN,39A,39A_43,2,3.0,0.4,11.9,9.0
10425,5109230,DB,2017-06-29,23,1850,68194,68194,68377,68406,1000944,...,NaN,NaN,NaN,39A,39A_43,2,4.0,0.6,11.0,15.0
25359,5116299,DB,2017-06-30,1,767,50400,50400,50304,50304,1000617,...,NaN,NaN,NaN,39A,39A_40,1,5.0,0.0,12.8,20.0
32982,5101715,DB,2017-06-28,26,4747,37084,37084,37335,37421,1000952,...,NaN,NaN,NaN,39A,39A_43,2,3.0,2.0,12.9,11.0
35395,5101723,DB,2017-06-29,46,7453,86253,86253,86417,86417,1000950,...,NaN,NaN,NaN,39A,39A_42,2,NaN,NaN,NaN,NaN
44085,5109226,DB,2017-06-28,60,753,44568,44568,46806,46806,2534819,...,NaN,NaN,NaN,39A,39A_43,2,3.0,0.2,13.2,12.0
53129,5003715,DB,2017-06-07,42,1666,71940,71940,71427,71427,2406871,...,NaN,NaN,NaN,39A,39A_40,1,3.0,0.1,11.6,13.0
53131,5003715,DB,2017-06-07,60,1899,73495,73495,72446,72459,2406871,...,NaN,NaN,NaN,39A,39A_40,1,3.0,0.0,11.8,8.0
53189,5003715,DB,2017-06-07,1,767,68400,68400,68394,68394,2406871,...,NaN,NaN,NaN,39A,39A_40,1,3.0,1.0,11.4,11.0
53199,5003715,DB,2017-06-08,4,770,68634,68634,68960,69001,1000607,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.5,12.2,11.0
53202,5003715,DB,2017-06-08,39,1662,71700,71700,72588,72598,1000607,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.0,12.0,5.0
53340,5003489,DB,2017-06-08,4,770,67434,67434,67976,67976,1000934,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.4,15.0,11.0
53477,5003490,DB,2017-06-08,33,1699,76044,76044,76277,76277,1000934,...,NaN,NaN,NaN,39A,39A_43,2,4.0,0.6,11.3,9.0
68950,5014778,DB,2017-06-06,1,7158,33600,33600,33589,33589,1000952,...,NaN,NaN,NaN,39A,39A_43,2,2.0,0.0,12.4,22.0
69041,5014778,DB,2017-06-08,17,1861,34435,34435,34434,34448,1000952,...,NaN,NaN,NaN,39A,39A_43,2,4.0,0.2,14.3,6.0
69636,5015236,DB,2017-06-06,51,335,43415,43415,43417,43482,2693288,...,NaN,NaN,NaN,39A,39A_43,2,2.0,0.1,15.1,22.0
70879,5015425,DB,2017-06-08,5,771,25119,25119,25108,25108,1000609,...,NaN,NaN,NaN,39A,39A_40,1,4.0,3.2,12.5,6.0
70880,5015425,DB,2017-06-08,40,1664,27640,27640,27472,27484,1000609,...,NaN,NaN,NaN,39A,39A_40,1,4.0,1.1,12.8,5.0
70905,5015425,DB,2017-06-08,65,7020,28862,28862,28851,28851,1000609,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.7,13.1,5.0
75524,5015431,DB,2017-06-07,7,773,63468,63468,63421,63421,1000952,...,NaN,NaN,NaN,39A,39A_40,1,3.0,1.2,11.5,9.0
77719,5007987,DB,2017-06-08,40,1664,82875,82875,83076,83084,1000940,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.1,10.5,9.0
82938,5117335,DB,2017-06-28,25,4489,32534,32534,32913,32913,1000862,...,NaN,NaN,NaN,39A,39A_43,2,3.0,2.2,13.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430000,5086705,DB,2017-06-19,15,1860,48108,48108,48333,48368,1000940,...,NaN,NaN,NaN,39A,39A_43,2,1.0,0.0,23.4,6.0
1476429,5093512,DB,2017-06-19,49,315,86446,86446,86439,86452,1000612,...,NaN,NaN,NaN,39A,39A_42,2,NaN,NaN,NaN,NaN
1641322,5092584,DB,2017-06-18,32,1911,56040,56040,57114,57149,1001216,...,NaN,NaN,NaN,39A,39A_40,1,0.0,0.0,23.4,7.0
2002471,5003490,DB,2017-06-09,36,1702,76131,76131,76278,76278,1000609,...,NaN,NaN,NaN,39A,39A_43,2,5.0,0.4,12.3,9.0
2016011,5007987,DB,2017-06-09,43,1807,83007,83007,82984,82998,1000612,...,NaN,NaN,NaN,39A,39A_40,1,5.0,1.0,11.9,9.0
2134927,5015336,DB,2017-06-10,24,1867,29237,29237,29473,29495,2406915,...,NaN,NaN,NaN,39A,39A_43,2,6.0,0.0,16.1,8.0
2172656,5015243,DB,2017-06-09,68,7011,86516,86516,86441,86454,1000950,...,NaN,NaN,NaN,39A,39A_40,1,NaN,NaN,NaN,NaN
2595229,5006295,DB,2017-06-10,66,7029,85588,85588,86403,86415,1001217,...,NaN,NaN,NaN,39A,39A_40,1,NaN,NaN,NaN,NaN
2620287,5004028,DB,2017-06-10,23,1850,20119,20119,20212,20212,1000615,...,NaN,NaN,NaN,39A,39A_43,2,6.0,0.1,13.8,15.0
2781342,5086705,DB,2017-06-20,15,1860,48108,48108,48250,48359,1000612,...,NaN,NaN,NaN,39A,39A_43,2,2.0,0.0,18.2,9.0
2811226,5093512,DB,2017-06-20,47,1478,86316,86316,86452,86452,1001205,...,NaN,NaN,NaN,39A,39A_42,2,NaN,NaN,NaN,NaN
3012481,5101723,DB,2017-06-30,43,1713,86111,86111,86423,86423,1000952,...,NaN,NaN,NaN,39A,39A_42,2,NaN,NaN,NaN,NaN
3020129,5003715,DB,2017-06-01,1,767,68400,68400,68426,68426,1000928,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.2,12.3,7.0
3020168,5003715,DB,2017-06-01,46,7389,72430,72430,72254,72275,1000928,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.1,12.2,5.0
3020186,5003489,DB,2017-06-01,1,767,67200,67200,67182,67182,1000599,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.0,12.6,10.0
3056901,5003105,DB,2017-06-15,55,748,57756,57756,57602,57602,1000616,...,NaN,NaN,NaN,39A,39A_43,2,4.0,0.0,15.5,17.0
3064747,5002464,DB,2017-06-01,1,767,60000,60000,59970,59970,2693268,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.5,13.3,11.0
3134206,5114581,DB,2017-06-27,60,753,54175,54175,54055,54064,1000925,...,NaN,NaN,NaN,39A,39A_43,2,2.0,0.0,20.3,12.0
3168542,5015243,DB,2017-06-01,53,1873,86101,86101,86427,86441,1000615,...,NaN,NaN,NaN,39A,39A_40,1,NaN,NaN,NaN,NaN
3438389,5086705,DB,2017-06-21,4,7388,47519,47519,47575,47586,1000952,...,NaN,NaN,NaN,39A,39A_43,2,3.0,0.0,26.1,10.0
3440709,5089300,DB,2017-06-21,3,7159,27405,27405,27549,27564,1000948,...,NaN,NaN,NaN,39A,39A_43,2,3.0,0.5,17.8,7.0
3440724,5089300,DB,2017-06-21,39,1906,29492,29492,29871,29871,1000948,...,NaN,NaN,NaN,39A,39A_43,2,3.0,0.6,17.9,9.0
3440740,5089300,DB,2017-06-21,61,754,32116,32116,32409,32409,1000948,...,NaN,NaN,NaN,39A,39A_43,2,3.0,0.1,20.2,8.0
3442494,5091734,DB,2017-06-22,28,1445,49177,49177,49510,49536,1000952,...,NaN,NaN,NaN,39A,39A_40,1,4.0,0.0,16.7,13.0
3494667,5095358,DB,2017-06-21,68,7011,85171,85171,86366,86402,2406871,...,NaN,NaN,NaN,39A,39A_40,1,NaN,NaN,NaN,NaN
3661660,5084978,DB,2017-06-22,63,6109,86250,86250,86406,86406,1000616,...,NaN,NaN,NaN,39A,39A_40,1,NaN,NaN,NaN,NaN
4001387,5003715,DB,2017-06-02,1,767,68400,68400,68471,68471,1000928,...,NaN,NaN,NaN,39A,39A_40,1,5.0,0.0,16.0,7.0
4008586,5007986,DB,2017-06-02,55,748,78611,78611,79209,79255,1000617,...,NaN,NaN,NaN,39A,39A_43,2,5.0,0.6,11.7,4.0
4008643,5007987,DB,2017-06-02,32,1911,82453,82453,82879,82895,1000617,...,NaN,NaN,NaN,39A,39A_40,1,5.0,0.8,9.6,8.0
4077569,5015243,DB,2017-06-02,72,7161,86618,86618,86376,86427,2693286,...,NaN,NaN,NaN,39A,39A_40,1,NaN,NaN,NaN,NaN